:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: var(--base);
  color: var(--white);

  --base: #252525;
  --nav-color: #181818;
  --color: #4f7aa3;
  --highlight: #b5e4ff;
  --white: rgb(255, 255, 255);
}

body {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: var(--color);
  text-decoration: inherit;
  padding: 5px;
  margin: 5px 10px 0 10px;
  display: inline-block;
}

a:hover {
  color: var(--highlight);
}

.active {
  background-color: var(--color);
  border: var(--white);
  color: var(--white);
  font-weight: 900;
  border-radius: 10px;
  padding: 2px 7px;
}

.background-image {
  height: 600px;
  width: 100%;
}

.header {
  background-color: var(--nav-color);
  padding: 0 5px;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

.name-card {
  position: absolute;
  width: 250px;
  height: 150px;
  color: var(--white);
  text-align: center;
  padding-top: 20px;
  font-weight: bold;
}

.footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  justify-content: space-evenly;
  background-color: var(--nav-color);
  width: 100%;
}

.page {
  padding: 60px 20px;
}

.site-link {
  text-align: center;
}

.contact-info {
  display: flex;
  justify-content: space-evenly;
  margin: 0 30px;
  text-align: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-group {
  margin: 10px;
}

.project-card {
  width: 250px;
  height: 150px;
  margin: 0 20px 60px 20px;
}

.project-card a {
  padding: 0;
}

.project-images {
  width: 250px;
  height: 150px;
  border-radius: 5px;
}

.name-card {
  border-radius: 5px;
  border: 1.2px solid var(--color);
  box-shadow: 0 0 40px var(--color);
  height: 130px;
}

.profile-image {
  width: 175px;
  height: 250px;
}

.profile-content {
  flex: 1;
  margin: 0 30px;
}

.send-number {
  padding-bottom: 90px;
}

h1 {
  font-size: 1.2em;
  line-height: 1.1;
}

h2 {
  margin: 10px 0;
}

h4 {
  text-align: center;
  margin: 10px 0 20px 0;
}

button {
  border-radius: 8px;
  border: 1px solid;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color);
  cursor: pointer;
}
button:hover {
  border: 2px solid var(--highlight);
  background-color: var(--nav-color);
  color: var(--color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media screen and (max-width: 486px) {
  .page {
    padding-top: 90px;
    margin: 0 20px;
  }
}
